*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    overflow-y: hidden;
}
body{
    background: url("img/fundo.webp") no-repeat;
    background-size: cover;
}

video{
    width: 100%;
}

@keyframes quiz {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}
.quiz {
   font-family:'Train One', cursive;
   font-weight: 500;
   font-size: 5em;
   display: flex;
   justify-content: center;
   color: #c879fc;
   margin: 2em 0;
  -webkit-animation: quiz .75s linear infinite;
  -moz-animation: quiz .75s linear infinite;
  -ms-animation: quiz .75s linear infinite;
  -o-animation: quiz .75s linear infinite;
  animation: quiz .75s linear infinite;
}


#buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
#buttons>a{
    width: 100px;
    text-decoration: none;
    color: plum;
    padding: 10px;
    border-radius: 20px;
    border: solid #c879fc 1px;
    font-style: italic;
    font-weight: 500;
    font-size: 1em;
}

#buttons>a:hover{
    background-color: #c879fc;
    color: black;
}

.silvio{
    position: relative;
    transform: scaleX(-1);
    right: 20em;
    bottom: 15em;
    -webkit-animation: dance 2.0s linear infinite;
    -moz-animation: dance 2.0s linear infinite;
    -ms-animation: dance 2.0s linear infinite;
    -o-animation: dance 2.0s linear infinite;
    animation: dance 2.0s linear infinite;
}

.silvinha{
    position: relative;
    transform: scaleX(-1);
    left: 25em;
    bottom: 32em;
    height: 265px;
    -webkit-animation: dance2 2.0s linear infinite;
    -moz-animation: dance2 2.0s linear infinite;
    -ms-animation: dance2 2.0s linear infinite;
    -o-animation: dance2 2.0s linear infinite;
    animation: dance2 2.0s linear infinite;
}

@keyframes dance{
    0%{right: 23em;}
    25%{transform: scaleX(-1);}
    50%{right: 17em;}
    75%{transform: scaleX(1);}
    100%{right: 20em;}
}

@keyframes dance2{
    0%{left: 28em;}
    25%{transform: scaleX(-1);}
    50%{left: 22em;}
    75%{transform: scaleX(1);}
    100%{left: 25em;}
}